@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100%;
  background: url(./images/bg-pattern-top-desktop.svg),
    url(./images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-position: calc(50vw - 760px) calc(50vh - 390px),
    calc(50vw - 320px) calc(50vh - 280px);
  font-family: "Spartan", sans-serif;
}
/*
header {
  width: 35%;
  margin-top: 120px;
  margin-left: 160px;
  margin-bottom: 60px;
}

header h1 {
  font-weight: 700;
  font-size: 50px;
  color: hsl(300, 43%, 22%);
  line-height: 52px;
}

header p {
  margin-top: 20px;
  padding-right: 20px;
  color: hsl(303, 10%, 53%);
  font-weight: 500;
  line-height: 28px;
}

.ratings {
  width: 50%;
  float: right;
  margin-top: -300px;
  margin-right: 140px;
}

.ratings ul {
  list-style: none;
  width: 65%;
  float: right;
}

.ratings ul li {
  background-color: hsl(300, 24%, 96%);
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 15px;
  color: hsl(300, 43%, 22%);
  font-weight: 700;
}

.stars {
  padding-left: 15px;
  padding-right: 30px;
}

.ratings ul li:nth-child(1) {
  position: relative;
  right: 100px;
}

.ratings ul li:nth-child(2) {
  position: relative;
  right: 50px;
}

.review-section {
  display: flex;
  justify-content: space-between;
  margin-left: 160px;
  margin-right: 140px;
  margin-bottom: 68px;
}

.reviews {
  background-color: hsl(300, 43%, 22%);
  width: 32%;
  color: hsl(0, 0%, 100%);
  border-radius: 10px;
}

.profile-images {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-top: 40px;
  margin-left: 30px;
}

.heading {
  margin-top: 40px;
  margin-left: 30px;
  line-height: 25px;
}

.profile-header {
  display: flex;
  justify-content: flex-start;
}

.heading span {
  display: block;
  color: hsl(333, 80%, 67%);
  font-weight: 400;
}

.reviews p {
  margin-top: 25px;
  padding: 0px 25px 40px 30px;
  line-height: 25px;
  font-size: 15px;
}

#second-review {
  position: relative;
  top: 15px;
}

#third-review {
  position: relative;
  top: 30px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 420px) {
  body {
    background: url(./images/bg-pattern-top-mobile.svg),
      url(./images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-position: calc(50vw - 175px) calc(50vh - 365px),
      calc(50vw - 180px) calc(50vh + 920px);
  }

  header {
    width: auto;
    margin: 80px auto 0px;
    text-align: center;
  }

  header h1 {
    font-size: 38px;
    line-height: 40px;
  }

  header p {
    padding: 0px 14px;
    margin: 40px auto;
  }

  .ratings {
    width: auto;
    margin: 0px 25px;
    float: none;
  }

  .ratings ul {
    width: auto;
    float: none;
  }

  .ratings ul li {
    text-align: center;
  }

  .ratings ul li:nth-child(1),
  .ratings ul li:nth-child(2) {
    position: static;
  }

  .stars {
    display: block;
    margin: auto;
    padding: 0px 0px 18px 0px;
  }

  .review-section {
    flex-direction: column;
    margin: 50px 25px;
  }

  .reviews {
    width: auto;
    margin-bottom: 20px;
  }
}
*/
